name: Manage pull requests
on:
  pull_request_target

jobs:
  labels:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Label the PR
        uses: actions/labeler@v6
